html{
    font-size: 18px;
}

body{
    background-color: #1e2122;
    color: rgb(233, 233, 233);
}

a{
    color:aliceblue;
}

a:visited{
    color:rgb(137, 145, 177);
}

a:hover, a:active{
    color: #eee;
}

table, tr, th, td{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

th{
    background-color: #1b323d;
}
